body {
    background-image: url(/kepek/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
}

#Tojashely1, #Tojashely2, #Tojashely3, #Tojashely4, #Tojashely5, #Tojashely6, #Tojashely7, #Tojashely8, #Tojashely9, #Tojashely10, #Tojashely11, #Tojashely12, #Tojashely13, #Tojashely14, #Tojashely15, #Tojashely16, #Tojashely17, #Tojashely18 {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.555);
}

#BoxSzoveg {
    text-decoration: none;
    font-size: 22.5px;
    margin-left: -40px;
    text-align: center;
    padding-top: 85%;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

#helyszinekLosSantos, #helyszinekSanFierro, #helyszinekVidek, #helyszinekOsszes {
    position: relative;
    width: 500px;
    margin-left: 250px;
    height: 15%;
    left: 50%;
    font-size: 60px;
    text-align: center;
}

#helyszinbuttonok {
    position: relative;
    display: flex;
    margin-top: 150px;
    padding-right: 2000px;
    margin-bottom: -100px;
    color: rgb(255, 255, 255);
}

#helyszinekLosSantos:hover, #helyszinekSanFierro:hover, #helyszinekVidek:hover, #helyszinekOsszes:hover{
    color: red;
}

#radarkep {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 650px;
    height: 650px;
}

#LStojas1 {
    position: absolute;
    width: 15px;
    margin-left: 50%;
    top: 527.5px;
    left: 198px
}

#LStojas2 {
    position: absolute;
    width: 15px;
    margin-left: 50%;
    top: 470px;
    left: 115px
}
#LStojas3 {
    position: absolute;
    width: 15px;
    margin-left: 50%;
    top: 470px;
    left: 100px
}
#LStojas4 {
    position: absolute;
    width: 15px;
    margin-left: 50%;
    top: 450px;
    left: 224px
}
#LStojas5 {
    position: absolute;
    width: 15px;
    margin-left: 50%;
    top: 423px;
    left: 104px
}
#LStojas6 {
    position: absolute;
    width: 15px;
    margin-left: 50%;
    top: 440px;
    left: 88.5px
}
#LStojas7 {
    position: absolute;
    width: 15px;
    margin-left: 50%;
    top: 445px;
    left: 180px
}

#LStojas8 {
    position: absolute;
    width: 15px;
    margin-left: 50%;
    top: 521px;
    left: 155px
}
#LStojas9 {
    position: absolute;
    width: 15px;
    margin-left: 50%;
    top: 519px;
    left: 127.5px
}
#LStojas10 {
    position: absolute;
    width: 15px;
    margin-left: 50%;
    top: 496px;
    left: 296.5px
}
#LStojas11 {
    position: absolute;
    width: 15px;
    margin-left: 50%;
    top: 520px;
    left: 182.5px
}
#LStojas12 {
    position: absolute;
    width: 15px;
    margin-left: 50%;
    top: 555px;
    left: 261px
}
#LStojas13 {
    position: absolute;
    width: 15px;
    margin-left: 50%;
    top: 355px;
    left: 0px
}
#LStojas14 {
    position: absolute;
    width: 15px;
    margin-left: 50%;
    top: 590px;
    left: -242.5px
}
#LStojas15 {
    position: absolute;
    width: 15px;
    margin-left: 50%;
    top: 309px;
    left: -217px
}
#LStojas16 {
    position: absolute;
    width: 15px;
    margin-left: 50%;
    top: 285px;
    left: -232.5px
}
#LStojas17 {
    position: absolute;
    width: 15px;
    margin-left: 50%;
    top: 225px;
    left: -167.5px
}
#LStojas18 {
    position: absolute;
    width: 15px;
    margin-left: 50%;
    top: 320px;
    left: -191px
}
#LStojas19 {
    position: absolute;
    width: 15px;
    margin-left: 50%;
    top: 315px;
    left: -205px
}
#LStojas20 {
    position: absolute;
    width: 15px;
    margin-left: 50%;
    top: 282.5px;
    left: -191px
}
#LStojas21 {
    position: absolute;
    width: 15px;
    margin-left: 50%;
    top: 355px;
    left: -305px
}
#LStojas22 {
    position: absolute;
    width: 15px;
    margin-left: 50%;
    top: 285px;
    left: -300px
}
#TojasHelyLeirasa {
    position: relative;
    width: 115px;
    height: 125px;
    margin-top: -10.25%;

    background-color: red;
    visibility: hidden;
}